# Project #1
## Step #1
### Import Panda and Numpy

In [43]:
import pandas as pd 
import numpy as np

## Step #2
### Load .csv into panda

In [44]:
df = pd.read_csv('Project 1 Data.csv')

## Step #3
### Display DataFrame Info to ensure successful load.

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
Airline    20 non-null object
City       20 non-null object
Count      20 non-null int64
Status     20 non-null object
dtypes: int64(1), object(3)
memory usage: 720.0+ bytes

## Step #4
### Group Data by Airline and Fand display Total Flight Counts

In [46]:
groupedData = df.groupby(['Airline', 'City','Status'], as_index=False).sum()

## Step #5
### Show Each Airlines Total Flights by status

In [47]:
airlineTotals = groupedData.groupby(['Airline', 'Status'], as_index=False).sum()
airlineTotals

   Airline   Status  Count
0   Alaska  Delayed    501
1   Alaska   OnTime   3274
2  Am West  Delayed    787
3  Am West   OnTime   6438