# Intro to Pandas

## Step 1
### Import required packages

In [37]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np

## Step 2
### Create an array and generate panda series from it

In [38]:

# simple array
data = np.array([55,101,167,191,234,300,368,425,502,560,625,666,723,801,842,865,905,976,1023,1111,1203,1269])

ser = pd.Series(data)

## Step 3
### Create variable to store latst value

In [ ]:
last = 0

## Step 4
### Calculate daily mileage and print out.

In [39]:
for index, value in ser.items():                    
    print(f"Day : {index + 1}, Miles Traveled : {value - last}, Total Ridden : {value}"  )        
    last = value

Day : 1, Miles Traveled : -1214, Total Ridden : 55
Day : 2, Miles Traveled : 46, Total Ridden : 101
Day : 3, Miles Traveled : 66, Total Ridden : 167
Day : 4, Miles Traveled : 24, Total Ridden : 191
Day : 5, Miles Traveled : 43, Total Ridden : 234
Day : 6, Miles Traveled : 66, Total Ridden : 300
Day : 7, Miles Traveled : 68, Total Ridden : 368
Day : 8, Miles Traveled : 57, Total Ridden : 425
Day : 9, Miles Traveled : 77, Total Ridden : 502
Day : 10, Miles Traveled : 58, Total Ridden : 560
Day : 11, Miles Traveled : 65, Total Ridden : 625
Day : 12, Miles Traveled : 41, Total Ridden : 666
Day : 13, Miles Traveled : 57, Total Ridden : 723
Day : 14, Miles Traveled : 78, Total Ridden : 801
Day : 15, Miles Traveled : 41, Total Ridden : 842
Day : 16, Miles Traveled : 23, Total Ridden : 865
Day : 17, Miles Traveled : 40, Total Ridden : 905
Day : 18, Miles Traveled : 71, Total Ridden : 976
Day : 19, Miles Traveled : 47, Total Ridden : 1023
Day : 20, Miles Traveled : 88, Total Ridden : 1111
Day : 21, Miles Traveled : 92, Total Ridden : 1203
Day : 22, Miles Traveled : 66, Total Ridden : 1269