# Project #3

## Step #1
### Write a sql script to return required data

SELECT C.LastName, C.FirstName, T.Name, A.Title
FROM Customer C
INNER JOIN Invoice I ON C.CustomerId = I.CustomerId
INNER JOIN InvoiceLine IL ON I.InvoiceId = IL.InvoiceId
INNER JOIN Track T ON IL.TrackId = T.TrackId
INNER JOIN Album A ON T.AlbumId = A.AlbumId
ORDER BY C.LastName, C.FirstName

## Step #2
### Import the data into a Pandas data frame

In [3]:
import pandas as pd
df = pd.read_csv('Data.csv')
df.head()

      Last    First              Name           Title
0  Almeida  Roberto        Vai Passar  Minha Historia
1  Almeida  Roberto  Morena De Angola  Minha Historia
2  Almeida  Roberto    Meu Caro Amigo  Minha Historia
3  Almeida  Roberto      Mateus Enter  Afrociberdelia
4  Almeida  Roberto     Samba Do Lado  Afrociberdelia